.navbar{
    background-color:rgb(52, 126, 102)
}

.navbar-brand {
    height:60px;
}

#cabecalho .nav .nav-link.active{
    background-color:rgba(253, 253, 253, 0.011);
    color:rgb(23, 88, 67)
}

#cabecalho .nav .nav-link {
    color:white;
}

body{
    font-family: Roboto, sans-serif;
    }

.navbar-toggler {
    background-color:rgb(116, 81, 81);
}

#carousel-img{
    width:100%;
}

.section-title {
    font-family: Quicksand, sans-serif;
    color:rgb(23, 88, 67)
}

#sobre-nos{
    background-color:rgba(176, 198, 191, 0.475)
}

.nav-produtos .nav-link{
    color:rgb(52, 126, 102);
}

.nav-produtos .nav-link.active{
    background-color: rgb(23, 88, 67);
color:white;
}

.nav-produtos .nav-link:hover{
    color:rgb(23, 88, 67)
}

.nav-produtos .nav-link.active:hover{
    color:rgb(159, 227, 206);
}

#produtos{
    background-color:rgba(176, 198, 191, 0.475)
}